* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: rgb(58, 10, 10);
}
h1 {
    color: white;
    background-color: darkblue;
    padding: 1%;
}
.d {
    display: flex;
}
.jcb {
    justify-content:flex-start;
}
.aic {
    text-align: center;
}
.style{
    background-color: transparent;
    height: 100px;
    margin:50px;
}
h2 {
    color: whitesmoke;   
    top: 500px;
    left: 300px;
    margin-bottom: 20px;
}
p {
    color: whitesmoke;
} 
img {
    width: 500px;
    height: 400px;   
    left: 150px;
    top: 90px;
}
p {
    color: whitesmoke;   
    top: 550px;
    left: 360px;
}
.prev {
    background-color: transparent;
    border: none;  
    top: 600px;
    left: 280px;
    margin-right: 40px;
}
.prev:hover{
    color: goldenrod;
}
.play {
    background-color: transparent;
    border: none;
    top: 600px;
    left: 370px;
    margin-right: 40px;
}
.next {
    background-color: transparent;
    border: none; 
    top: 600px;
    left: 440px;
}
.prev {
    color: whitesmoke;
    height: 5vh;
}
